In [1]:
import os 


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from matplotlib import pylab as plt
import matplotlib.dates as mdates
plt.rcParams['figure.figsize'] = (15.0, 8.0)
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv(r"C:\Users\Nathan Campbell\Documents\Machine Leaning\ML project\Data sets\sales_train.csv")
test = pd.read_csv(r"C:\Users\Nathan Campbell\Documents\Machine Leaning\ML project\Data sets\sales_test.csv")
items = pd.read_csv(r"C:\Users\Nathan Campbell\Documents\Machine Leaning\ML project\Data sets\items.csv")
#item_categories = pd.read_csv('/Users/QUAN/Documents/Machine Learning/item_categories.csv')

In [4]:
train_clean = train.drop(labels = ['date', 'item_price'], axis = 1)
train_clean.head()

   date_block_num  shop_id  item_id  item_cnt_day
0               0       59    22154           1.0
1               0       25     2552           1.0
2               0       25     2552          -1.0
3               0       25     2554           1.0
4               0       25     2555           1.0

In [5]:
# change the item count per day to item count per month by using group
train_clean = train_clean.groupby(["item_id","shop_id","date_block_num"]).sum().reset_index()
train_clean = train_clean.rename(index=str, columns = {"item_cnt_day":"item_cnt_month"})
train_clean = train_clean[["item_id","shop_id","date_block_num","item_cnt_month"]]
train_clean

         item_id  shop_id  date_block_num  item_cnt_month
0              0       54              20             1.0
1              1       55              15             2.0
2              1       55              18             1.0
3              1       55              19             1.0
4              1       55              20             1.0
...          ...      ...             ...             ...
1609119    22168       12               8             1.0
1609120    22168       16               1             1.0
1609121    22168       42               1             1.0
1609122    22168       43               2             1.0
1609123    22169       25              14             1.0

[1609124 rows x 4 columns]

In [6]:
train_clean = train.groupby(["item_id","shop_id","date_block_num"]).sum().reset_index()
train_clean = train_clean.rename(index=str, columns = {"item_cnt_day":"item_cnt_month"})
train_clean = train_clean[["item_id","shop_id","date_block_num","item_cnt_month"]]
train_clean

         item_id  shop_id  date_block_num  item_cnt_month
0              0       54              20             1.0
1              1       55              15             2.0
2              1       55              18             1.0
3              1       55              19             1.0
4              1       55              20             1.0
...          ...      ...             ...             ...
1609119    22168       12               8             1.0
1609120    22168       16               1             1.0
1609121    22168       42               1             1.0
1609122    22168       43               2             1.0
1609123    22169       25              14             1.0

[1609124 rows x 4 columns]

In [7]:
for i in range(1,6):
    train_clean["T_" + str(i)] = train_clean.item_cnt_month.shift(i)
train_clean.fillna(0.0, inplace=True)

In [8]:
predictors = train_clean.drop(["item_cnt_month"],axis = 1)
response = train_clean["item_cnt_month"]
x_train_value, x_value, y_train_value, y_value = train_test_split(predictors, response, test_size = 0.25, random_state = 0)

In [9]:
import tensorflow
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
model_lstm = Sequential()
model_lstm.add(LSTM(15, input_shape=(1,8)))
model_lstm.add(Dense(1))
model_lstm.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])

Using TensorFlow backend.

In [11]:
# Reshape the data between -1 and 1 and to 3D
from sklearn.preprocessing import StandardScaler,MinMaxScaler
scaler = StandardScaler()
scaler = MinMaxScaler(feature_range=(-1, 1))
x_train_scaled = scaler.fit_transform(x_train_value)
x_valid_scaled = scaler.fit_transform(x_value)

In [12]:
x_train_reshaped = np.reshape(x_train_scaled, (x_train_scaled.shape[0], 1, x_train_scaled.shape[1]))
x_val_resaped = np.reshape(x_valid_scaled, (x_valid_scaled.shape[0], 1, x_valid_scaled.shape[1]))

In [ ]:
history = model_lstm.fit(x_train_reshaped, y_train_value, validation_data=(x_val_resaped, y_value),epochs=70, batch_size=12, verbose=2, shuffle=False)
y_pre = model_lstm.predict(x_val_resaped)

In [19]:
history = model_lstm.fit(x_train_reshaped, y_train_value, validation_data=(x_val_resaped, y_value),epochs=20, batch_size=15, verbose=2, shuffle=False)
y_pre = model_lstm.predict(x_val_resaped)

Train on 1206843 samples, validate on 402281 samples
Epoch 1/20
 - 174s - loss: 41.0786 - accuracy: 0.3534 - val_loss: 38.5714 - val_accuracy: 0.1364
Epoch 2/20
 - 131s - loss: 41.0405 - accuracy: 0.3529 - val_loss: 38.6049 - val_accuracy: 0.1381
Epoch 3/20
 - 135s - loss: 41.0108 - accuracy: 0.3530 - val_loss: 38.6027 - val_accuracy: 0.1401
Epoch 4/20
 - 134s - loss: 40.9837 - accuracy: 0.3530 - val_loss: 38.5756 - val_accuracy: 0.1424
Epoch 5/20
 - 134s - loss: 40.9600 - accuracy: 0.3531 - val_loss: 38.5498 - val_accuracy: 0.1447
Epoch 6/20
 - 153s - loss: 40.9395 - accuracy: 0.3530 - val_loss: 38.5372 - val_accuracy: 0.1467
Epoch 7/20
 - 143s - loss: 40.9211 - accuracy: 0.3530 - val_loss: 38.5264 - val_accuracy: 0.1486
Epoch 8/20
 - 142s - loss: 40.9032 - accuracy: 0.3530 - val_loss: 38.5175 - val_accuracy: 0.1504
Epoch 9/20
 - 146s - loss: 40.8847 - accuracy: 0.3530 - val_loss: 38.5043 - val_accuracy: 0.1519
Epoch 10/20
 - 150s - loss: 40.8673 - accuracy: 0.3531 - val_loss: 38.5005 - val_accuracy: 0.1533
Epoch 11/20
 - 146s - loss: 40.8499 - accuracy: 0.3531 - val_loss: 38.4869 - val_accuracy: 0.1545
Epoch 12/20
 - 151s - loss: 40.8318 - accuracy: 0.3530 - val_loss: 38.4645 - val_accuracy: 0.1557
Epoch 13/20
 - 140s - loss: 40.8136 - accuracy: 0.3530 - val_loss: 38.4399 - val_accuracy: 0.1567
Epoch 14/20
 - 143s - loss: 40.7966 - accuracy: 0.3530 - val_loss: 38.4200 - val_accuracy: 0.1577
Epoch 15/20
 - 143s - loss: 40.7799 - accuracy: 0.3531 - val_loss: 38.3930 - val_accuracy: 0.1584
Epoch 16/20
 - 152s - loss: 40.7646 - accuracy: 0.3531 - val_loss: 38.3746 - val_accuracy: 0.1591
Epoch 17/20
 - 152s - loss: 40.7502 - accuracy: 0.3531 - val_loss: 38.3589 - val_accuracy: 0.1596
Epoch 18/20
 - 143s - loss: 40.7365 - accuracy: 0.3532 - val_loss: 38.3456 - val_accuracy: 0.1601
Epoch 19/20
 - 143s - loss: 40.7235 - accuracy: 0.3531 - val_loss: 38.3261 - val_accuracy: 0.1604
Epoch 20/20
 - 150s - loss: 40.7119 - accuracy: 0.3531 - val_loss: 38.3262 - val_accuracy: 0.1608

In [14]:
from sklearn.metrics import mean_squared_error
from numpy import sqrt
rmse = sqrt(mean_squared_error(y_value,y_pre))
print('Val RMSE: %.3f' % rmse)

Val RMSE: 6.217

In [17]:
from sklearn.metrics import precision_score,f1_score, recall_score, accuracy_score
#precision = precision_score(y_value, y_pre)
#F1 = f1_score(y_value, y_pre)
#recall = recall_score(y_value, y_pre)
accuracy = accuracy_score(y_value, y_pre)
print("Precision Score: ", precision)
print("F1 Score: ", F1)
print("Recall Score: ", recall)
print("Accuracy Score: ", accuracy)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets